<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/AJAX/add_blog_user.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/CSS/styling1.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Add User Page</title>       
    </head>
    <body class="bodybackground">
        <form>
            <div class="imageContainer">
                <h3>Add a new user</h3>
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Or3nA2m4r1y3JEtbAuTWNQHaHa%26pid%3DApi&f=1"
                width="100" height="100">
            </div>
            <div class="inputContainer">
                <label><b>Username </b></label></br>                
                <input type="text" id="username" name="username" placeholder="Enter Username">
            </br>
        </br>
                <label><b>Password </b></label></br>
                <input type="password" id="password" name="username" placeholder="Enter Password">
        </br>
    </br>
                <button class="button" type="submit">Add User</button>
            </div>
        </form>
        
    </body>

</html>