<html lang="en">  
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/CSS/styling1.css">
        <title>Post Page</title>  
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">      
    </head>
    <body class="bodybackground">
        <div>
            <h2 class="readpost"><%= blog.title %></h2>
        </br>
            <p class="readpost"><%= blog.desc %></p>
        </div> 
    </body>
</html>