.topright{
    float: right;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: coral;
    color: black;
    text-align: center; 
}

.imageContainer{
    font-weight: bold;
    text-align: center;
    padding-top: 100;
}
.inputContainer{
    font-weight: bold;
    text-align: center;
    padding-top: 40;
}
.button{        
    font-weight: bold;
    font-size: 20;
}
table{  
    margin: 2;
    background-color: lightcyan;  
    text-align: center;
    width: 100%;
    height: 10%;
}
.operationresultarea{
    background-color: beige;
    width: 100%;
    height: 50%;
    text-align: center;
    overflow: auto;    
}
.bodybackground{
    background-color: beige;
}
.updatestyle{
    margin: 10;
    background-color: lightcyan;
    text-align: center;
    padding-top: 200;
}
.readpost{
    text-align: center;
    padding-top: 40; 
    background-color: beige;
}
.blogcontent{
    width: 100%;
    height: 70%;   
}
.welcometxt{
    font-size: medium;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 20%;
    bottom: 20%;
}
.anchor{
    text-decoration: underline;
}
.stylebutton1{
  position: absolute;
  top: 35%;
  bottom: 60%;
  background-color: red;
  right: 1%;
  color: white;  
}
.stylebutton2{
    position: absolute;
    top: 30%;
    bottom: 65%;
    background-color: green;
    right: 1%;
    color: white;  
  }
  .stylebutton3{
    position: absolute;
    top: 25%;    
    bottom: 70%;
    background-color: blue;
    right: 1%;
    color: white;  
  }
  .blogarticle{      
    background-color: lavender;      
    border: 1px solid #000;
    border-color: black;
    text-align: center;
    width: 100%; 
    height: 20%;           
  }
  .slide{
    margin-top: 10;
    margin-bottom: 10;
    font-weight: bold;
    text-align: center;
  }
